.jumbotron {
    background-image: url(../img/logo.png);
    background-position: center center;
    background-size:contain;
    background-repeat: no-repeat;
    color: #fff;
    background-color: #333;
}

.welcome {
    background-image: url(../img/logo.svg);
    background-position: center center;
    background-size: 100% auto;	
}

.dorkside {
    background-image: url(../img/tdsog_logo.png);
    background-position: bottom right;
}

.onion {
    background-image: url(../img/onionmail.gif);
    background-position: bottom right;
    background-size: 30%;
}


.row li div img {
    width: inherit;
    height: inherit;
    
}

.mediav {
    background-image: url(../img/esc.png);
    background-size: 20%;
    background-position: bottom right;
}

.profiles img {
    border-radius: 200px;
}

/**GALLERY**/

.gallery {
    padding:0 0 0 0;
    margin:0 0 0 0;
}
.gallery li {
    list-style:none;
    margin-bottom:25px;
}
.gallery img {
    cursor: pointer;
    width: 250px;
    height: auto;
}

.controls{          
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;          
}
.next {
    float:right;
    text-align:right;
}

