#main {
	width : 50%;
	margin-left : auto;
	margin-right : auto;
}


h1,h2,h3 {
	font-family : Helvetica, Arial, sans-serif;
}

h2{
	text-decoration: underline;
}

body {
	background-image : url("logo.svg");
	background-repeat : no-repeat; 
	background-position : center center;
	background-attachment : fixed;
	font-size : 100%;
}


#menu>a {
	display : inline;
	padding: 1%;
	border-color: black;
	border-radius: 3px;
	color: black;
	text-decoration: none;
	border-width: 1px;
	background-color: white;
}

.content{
	background-color: transparent;
}

li {
	margin-top: 3%;
}

#menu {
	border-width : 1px;
	padding : 1% 1%;
	background-color: white;
	border-radius: 3px;
	color: black;
	box-shadow: 3px 3px 6px 2px #333333;
}

a {
	color : 5f0000;
}

#mail a{
	text-decoration: none;
	color: black;
}

#mail a:hover:after{
	content: "asm";
	color: rgba(0,0,0,0.1);
}
